<main class="content" role="main" id="gridalicious">
		<!--added for testing-->
		<article class="post tag-getting-started featurad">
            <header class="post-header">
                <p></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a class="col-deepOrange" href="/welcome-to-ghost/"><i class="fa fa-skyatlas col-deepOrange"></i> iProjects</a></h2>
                <div class="post-meta"><time datetime="2014-03-04">01 Ene 2013</time>  <span class="tags"><a href="/tag/getting-started/">Getting Started</a></span></div>
                <p class="col-deepGreen">
                	lorem-ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </p>
                <a href="/welcome-to-ghost/" class="button myb-orange bgc-deepWait bc-nol-deepGreen col-deepOrange br-nl-3">Read more</a>
            </section>
        </article>
        <article class="post tag-getting-started featurid">
            <header class="post-header">
                <p></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a class="col-green" href="/welcome-to-ghost/"><i class="fa fa-users col-green"></i> iCommunity</a></h2>
                <div class="post-meta"><time datetime="2014-03-04">01 Feb 2014</time>  <span class="tags"><a href="/tag/getting-started/">Getting Started</a></span></div>
                <p class="col-deepGreen">
                	lorem-ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </p>
                <a href="/welcome-to-ghost/" class="button myb-green bgc-deepWait bc-nol-deepGreen col-green br-nl-3">Read more</a>
            </section>
        </article>
        <article class="post tag-getting-started featurod">
            <header class="post-header">
                <p></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a class="col-blue" href="/welcome-to-ghost/">iLabs <i class="fa fa-flask col-blue"></i></a></h2>
                <div class="post-meta"><time datetime="2014-03-04">01 Mar 2015</time>  <span class="tags"><a href="/tag/getting-started/">Getting Started</a></span></div>
                <p class="col-deepGreen">
                	lorem-ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </p>
                <a href="/welcome-to-ghost/" class="button myb-blue bgc-deepWait bc-nol-deepGreen col-blue br-nl-3">Read more</a>
            </section>
        </article>
        <article class="post tag-getting-started featurud">
            <header class="post-header">
                <p></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a class="col-deepGreen" href="http://itux.pe/iBlog" target="_blank">iBlog <i class="fa fa-comment-o col-deepGreen"></i></a></h2>
                <div class="post-meta"><time datetime="2014-03-04">01 Apr 2016</time>  <span class="tags"><a href="/tag/getting-started/">Getting Started</a></span></div>
                <p class="col-deepGreen">
                	lorem-ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </p>
                <a href="/welcome-to-ghost/" class="button myb-deepGreen bgc-deepWait bc-nol-deepGreen col-deepGreen br-nl-3">Read more</a>
            </section>
        </article>
		<!-- added end -->
        <article class="post tag-getting-started featureed">
            <header class="post-header">
                <p></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a class="col-yellow" href="/welcome-to-ghost/">Welcome to itux <i class="fa fa-cloud col-yellow"></i></a></h2>
                <div class="post-meta"><time datetime="2014-03-04">04 Mar 2014</time>  <span class="tags"><a href="/tag/getting-started/">Getting Started</a></span></div>
               	<p class="col-deepGreen">
                	lorem-ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </p>
                <a href="/welcome-to-ghost/" class="button myb-yellow bgc-deepWait bc-nol-deepGreen col-yellow br-nl-3">Read more</a>
            </section>
        </article>
        <article class="post tag-bait tag-rood">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/man_fishing-1.JPG" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/fishing-in-sea/">Fishing in sea</a></h2>
                <div class="post-meta"><time datetime="2014-03-03">03 Mar 2014</time>  <span class="tags"><a href="/tag/bait/">Bait</a> , <a href="/tag/rood/">Rood</a></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, est, consectetur, officiis, soluta impedit eveniet esse iusto temporibus asperiores quasi quos mollitia voluptates rerum quae voluptatem amet quidem totam. Et!</p>
                <a href="/fishing-in-sea/" class="button">Read more</a>
            </section>
        </article>
        <article class="post tag-videos tag-colors tag-images tag-javascript tag-music">
            <header class="post-header">
                <h3 id="mediasources"></h3>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/lorem-ipsum/">Credits</a></h2>
                <div class="post-meta"><time datetime="2014-03-02">02 Mar 2014</time>  <span class="tags"><a href="/tag/videos/">Videos</a> , <a href="/tag/colors/">Colors</a> , <a href="/tag/images/">Images</a> , <a href="/tag/javascript/">Javascript</a> , <a href="/tag/music/">Music</a></span></div>
                <p>Media Sources All images used on theme are from unsplash under CC license.  YouTube video, "Contagion - Epic Rocktronica" from Scott Buckley.  SoundCloud theme "Lost Hrizon" by ISS  Vimeo video, "Kill Me Laser - Blood - Official Music Video" by Jovan Todorovic   Code Framework Jquery  Jquery  Nice Scrooll  Grid system</p>
                <a href="/lorem-ipsum/" class="button">Read more</a>
            </section>
        </article>
        <article class="post tag-travel">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/tracks-1.jpg" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/train/">Traveling on Train</a></h2>
                <div class="post-meta"><time datetime="2014-03-02">02 Mar 2014</time>  <span class="tags"><a href="/tag/travel/">Travel</a></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, voluptas, non deserunt sapiente porro modi a voluptates nemo.</p>
                <a href="/train/" class="button">Read more</a>
            </section>
        </article>
        <article class="post tag-water">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/unsplash_5263605581e32_1-1.JPG" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/sample-page/">Beach Paradise</a></h2>
                <div class="post-meta"><time datetime="2014-03-02">02 Mar 2014</time>  <span class="tags"><a href="/tag/water/">Water</a></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, accusamus, maiores mollitia perferendis cum rerum reprehenderit quos dolor dolorem cumque architecto omnis velit! Ad repellendus dolorum voluptates tenetur et nemo!</p>
                <a href="/sample-page/" class="button">Read more</a>
            </section>
        </article>
        <article class="post tag-tu-tuc">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/car-1.jpg" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/transport/">Transport</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time>  <span class="tags"><a href="/tag/tu-tuc/">Tu Tuc</a></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, fuga, veniam, quidem incidunt consequuntur et distinctio quasi debitis</p>
                <a href="/transport/" class="button">Read more</a>
            </section>
        </article>
        <article class="post tag-war tag-soldier featured">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/hochbunker_2.jpg" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/buncker/">Old Buncker</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time>  <span class="tags"><a href="/tag/war/">War</a> , <a href="/tag/soldier/">Soldier</a></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, illo suscipit soluta incidunt perferendis natus quia perspiciatis iusto nam veniam repellat nesciunt fugit enim consequatur officia labore deleniti quisquam minus.</p>
                <a href="/buncker/" class="button">Read more</a>
            </section>
        </article>
        <article class="post">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/Bird_Profile_Wellington_New_Zealand_3.jpg" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/a-bird/">Ready to Fly</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time> </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, incidunt, consequuntur, ad vitae maxime iure repudiandae quasi quidem similique nemo ea perspiciatis laboriosam. Rem, dignissimos, ipsum hic voluptatem fugiat nihil!</p>
                <a href="/a-bird/" class="button">Read more</a>
            </section>
        </article>
        <article class="post">
            <header class="post-header">
                <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/?ie=UTF8&amp;ll=49.382373,10.898438&amp;spn=126.602883,346.289063&amp;t=m&amp;z=2&amp;output=embed"></iframe>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/google-maps/">Google Maps</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time> </div>
                <p>This is a post whith enbed map from Google Maps.</p>
                <a href="/google-maps/" class="button">Read more</a>
            </section>
        </article>
        <article class="post featured">
            <header class="post-header">
                <iframe height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/110243940&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/soundcloud/">SoundCloud</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time> </div>
                <p>Sound Cloud example. Music by ISS.</p>
                <a href="/soundcloud/" class="button">Read more</a>
            </section>
        </article>
        <article class="post">
            <header class="post-header">
                <iframe height="315" src="//www.youtube.com/embed/-AZTF8f0JV4" frameborder="0" allowfullscreen></iframe>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/youtube-video/">Youtube</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time> </div>
                <p>Example video from Youtube enbed. Video by Scott Buckley</p>
                <a href="/youtube-video/" class="button">Read more</a>
            </section>
        </article>
        <article class="post">
            <header class="post-header">
                <iframe src="//player.vimeo.com/video/63975488?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/vimeo-video/">Vimeo</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time> </div>
                <p>Example video from Vimeo. Video by Jovan Todorovic</p>
                <a href="/vimeo-video/" class="button">Read more</a>
            </section>
        </article>
        <article class="post tag-iron tag-architect">
            <header class="post-header">
                <p><img src="content/images/2014/Mar/unsplash_5244800b1ebf4_1-1.JPG" alt="" /></p>
            </header>
            <section class="post-excerpt">
                <h2 class="post-title"><a href="/image-post/">Bridge to Future</a></h2>
                <div class="post-meta"><time datetime="2014-03-01">01 Mar 2014</time>  <span class="tags"><a href="/tag/iron/">Iron</a> , <a href="/tag/architect/">Architect</a></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolore, praesentium libero est natus quos fugit ipsa mollitia quaerat illum nemo enim ab fuga quibusdam officiis cupiditate alias similique nisi.</p>
                <a href="/image-post/" class="button">Read more</a>
            </section>
        </article>
</main>